.parallax {
  /* The image used */
  background-image: url("assets/parallax.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  content-visibility: auto;
}

.custom-switch {
  display: inline-block;
  margin-left: 320px;
}

.card-body {
  margin-top: -20px;
}
#header {
  height: 120px;
}

h2 {
  color: white;
}

nav {
  margin-top: -15px;
}

#thumbnailWrapper {
  margin: auto;
}

#headerThumbnail {
  width: 110px;
  height: 110px;
}

#title {
  margin: auto;
}

#navLinks {
  display: inline-block;
  position: relative;
  left: 44%;
}
#cards {
  margin-left: 10vw;
  height: 100%;
}
#cards > div {
  display: inline-block;
  margin-left: 30px;
  margin-top: 20px;
  width: 380px;
  height: 200px;
}

.collapse {
  color: black;
}

.coins-collapse {
  margin-top: 50px;
}

p {
  font-size: 18px;
}
